@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label" style="margin-left: 20px;">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div style="margin-top: 20px;">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-4 col-md-offset-2">
        @* Original
            <section>
                <h3>Use another service to register.</h3>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                    article
                                    about setting up this ASP.NET application to support logging in via external services
                                </a>.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins!)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        *@
        <section>
            <h2>Use another service</h2>
            <hr />

            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>
                        <button type="submit" name="provider" value="Google" title="Log in using your Google account" class="btn btn-google btn-user btn-block">
                            <i class="fab fa-google fa-fw"></i>
                            Login with Google
                        </button>
                        <button type="submit" name="provider" value="Microsoft" title="Log in using your Microsoft account" class="btn btn-user btn-block" style="color: white; background-color: rgb(0, 124, 182)">
                            <i class="fab fa-windows fa-fw"></i>
                            Login with Microsoft
                        </button>
                        <button type="submit" name="provider" value="Facebook" title="Log in using your Facebook account" class="btn btn-facebook btn-user btn-block">
                            <i class="fab fa-facebook-f fa-fw"></i>
                            Login with Facebook
                        </button>
                        <button type="submit" name="provider" value="Twitter" title="Log in using your Twitter account" class="btn btn-user btn-block" style="color: white; background-color: rgb(75, 170, 235)">
                            <i class="fab fa-twitter fa-fw"></i>
                            Login with Twitter
                        </button>
                        <button type="submit" name="provider" value="GitHub" title="Log in using your GitHub account" class="btn btn-user btn-block" style="color: white; background-color: rgb(47, 59, 77)">
                            <i class="fab fa-github fa-fw"></i>
                            Login with GitHub
                        </button>
                        <button type="submit" name="provider" value="Apple" title="Log in using your Apple account" class="btn btn-user btn-block" style="color: white; background-color: black">
                            <i class="fab fa-apple fa-fw"></i>
                            Login with Apple
                        </button>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
