@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer ViewLocalizer

@{
    ViewData["Title"] = ViewLocalizer["PrivacyPolicy"];
}
<h1>@ViewData["Title"]</h1>

<p>@ViewLocalizer["PetProject"]</p>
<p>@ViewLocalizer["NotCommercial"]</p>
<br />
<p><a href="https://getbootstrap.com/" target="_blank">@ViewLocalizer["BootStrap"]</a></p>
<p><a href="https://fontawesome.com/" target="_blank">@ViewLocalizer["FontAwesome"]</a></p>