@model List<Restaurant_management_system.WebUI.ViewModels.DishItemDTO>

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer ViewLocalizer

@{
    ViewData["Title"] = ViewLocalizer["ViewName"];
}

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">@ViewLocalizer["Name"]</th>
                <th scope="col">@ViewLocalizer["Price"]</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Name</th>
                    <td>@item.Price</td>
                    <td>
                        <a asp-action="AddToCartFromCart" asp-route-orderID="@ViewData["orderID"]" asp-route-dishID="@item.ID" class="btn btn-success btn-circle btn-sm">
                            <i class="fas fa-plus-circle"></i>
                        </a>
                    </td>
                    <td>
                        <a asp-action="RemoveFromCart" asp-route-orderID="@ViewData["orderID"]" asp-route-dishID="@item.ID" class="btn btn-danger btn-circle btn-sm">
                            <i class="fas fa-minus-circle"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>