@model List<Restaurant_management_system.WebUI.ViewModels.IngredientDTO>

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer ViewLocalizer

@{
    ViewData["Title"] = ViewLocalizer["AddIngredient"];
}

<form method="POST" asp-route-menuID="@ViewData["MenuID"]">
    <div class="form-group">
        <label for="ingredientID">@ViewLocalizer["AddIngredient"]</label>
    </div>
    <div class="form-group">

        <select name="ingredientID">
            @foreach (var item in Model)
            {
                <option value="@item.ID">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="@ViewLocalizer["Save"]" />
    </div>
</form>