@model List<Restaurant_management_system.WebUI.ViewModels.DishInMenuDTO>
@{
    ViewData["Title"] = "Menu";
}

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Ingredients</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Name</th>
                    <td>@item.Price</td>
                    <td>@item.IngredientsNames</td>
                    <td>
                        <a asp-action="EditDishInMenu" asp-route-menuID="@item.ID">Edit</a>
                    </td>
                    <td>
                        <a asp-action="RemoveDishInMenu" asp-route-menuID="@item.ID">Remove</a>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    <a asp-action="AddDishInMenu">Add</a>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>