@model List<Restaurant_management_system.WebUI.ViewModels.MenuDTO>
@{
    ViewData["Title"] = "Dish";
}

<div class="col-md-1">
    <form asp-action="EditDish" asp-route-tableID="@ViewData["TableID"]">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@ViewData["DishID"]" />
        <select name="ingredientID" asp-for="@ViewData["DishID"]">
            <option value="0">None</option>
            @foreach (var item in Model)
            {
                <option value="@item.ID">@item.Name</option>
            }
        </select>
        <div class="form-group">
            <input type="checkbox" asp-for="@ViewData["IsTakenAway"]" />
            <label asp-for="@ViewData["IsTakenAway"]" class="control-label">Taken Away</label>
            <span asp-validation-for="@ViewData["IsTakenAway"]" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="checkbox" asp-for="@ViewData["IsPrioritized"]" />
            <label asp-for="@ViewData["IsPrioritized"]" class="control-label">Prioritized</label>
            <span asp-validation-for="@ViewData["IsPrioritized"]" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>