@model List<Restaurant_management_system.WebUI.ViewModels.DishDTO>
@{
    ViewData["Title"] = "Table " + ViewData["TableID"];
}

<div>
    <h3>Table @ViewData["TableID"] - Order @ViewData["OrderID"]</h3>
    <p>Info(optional): @ViewData["Message"]</p>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Dish</th>
                <th>Time of oredring</th>
                <th>Cooked</th>
                <th>Taked from kitchen</th>
                <th>Prioritized</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DishName</td>
                    <td>@item.TimeOfOrdering</td>
                    <td>@item.IsDone</td>
                    <td>@item.IsTakenAway</td>
                    <td>@item.IsPrioritized</td>
                    <td>
                        <a asp-action="EditDish" asp-route-id="@item.DishID" asp-route-table="@ViewData["TableID"]">Edit dish</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>