@model List<Restaurant_management_system.WebUI.ViewModels.IngredientDTO>

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer ViewLocalizer

@{
    ViewData["Title"] = ViewLocalizer["EditMenu"];
}

<div>
    <form method="POST" asp-route-menuID="@ViewData["MenuID"]">
        <div class="form-group">
            <label for="menuName">@ViewLocalizer["Name"]:</label>
        </div>
        <div class="form-group">
            <input type="text" name="menuName" value="@ViewData["MenuName"]" required />
        </div>
        <div class="form-group">
            <input type="submit" value="@ViewLocalizer["Save"]" class="btn btn-primary" />
        </div>
    </form>
</div>

<br />

<div>
    <table>
        <thead>
            <tr>
                <th>@ViewLocalizer["Ingredients"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <a asp-action="RemoveIngredientInDish" asp-route-ingredientID="@item.ID" asp-route-menuID="@ViewData["MenuID"]">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="AddIngredientInDish" asp-route-menuID="@ViewData["MenuID"]">@ViewLocalizer["Add"]</a>
</div>