@model List<Restaurant_management_system.WebUI.ViewModels.TableDTO>

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer ViewLocalizer

@{
    ViewData["Title"] = ViewLocalizer["Tables"];
}

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">@ViewLocalizer["Occupied"]</th>
                <th scope="col">@ViewLocalizer["Guests"]</th>
                <th scope="col">@ViewLocalizer["Cost"]</th>
                <th scope="col">@ViewLocalizer["Paid"]</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.ID</th>
                    <td>@item.IsOccupiedString</td>
                    <td>@item.AmountOfGuests</td>
                    <td>@item.OrderCost</td>
                    <td>@item.IsPaidString</td>
                    <td>
                        <a asp-action="EditTableAndOrder" asp-route-tableID="@item.ID" class="btn btn-primary btn-circle btn-sm">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </td>
                    <td>
                        <a asp-action="ResetTable" asp-route-tableID="@item.ID" class="btn btn-danger btn-icon-split btn-sm">
                            <span class="icon text-white-50">
                                <i class="fas fa-undo"></i>
                            </span>
                        </a>
                    </td>
                    <td>
                        <a asp-action="" asp-route-tableID="@item.ID" class="btn btn-danger btn-icon-split btn-sm">
                            <span class="icon text-white-50">
                                <i class="fas fa-trash"></i>
                            </span>

                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>