@model List<Restaurant_management_system.WebUI.ViewModels.DishInOrderDTO>
@{
    ViewData["Title"] = "Dishes";
}

<h3>Today's unfinished meals</h3>

<div>
    <table>
        <thead>
            <tr>
                <th>Dish name</th>
                <th>Time of ordering</th>
                <th>Done</th>
                <th>Taken away</th>
                <th>Prioritized</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DishName</td>
                    <td>@item.TimeOfOrderingString</td>
                    <td>
                        <a asp-action="Change_DONE_InDish" asp-route-dishID="@item.DishID">@item.IsDoneString</a>
                    </td>
                    <td>@item.IsTakenAwayString</td>
                    <td>@item.IsPrioritizedString</td>
                </tr>
            }
        </tbody>
    </table>
</div>

